[bot]
num_threads = xx
randomise_interval = xx
admin_list = [xxxxxxx,xxxxxxx]

[stations]
station_names = ["python", "web", "mobile", "blockchain", "ai", "resume", "iot", "pcb", "3d", "gdsc"]
python = xxxxxxxxxx
web = xxxxxxxxxx
mobile = xxxxxxxxxx
blockchain = xxxxxxxxxx
ai = xxxxxxxxxx
resume = xxxxxxxxxx
iot = xxxxxxxxxx
pcb = xxxxxxxxxx
3d = xxxxxxxxxx
gdsc = xxxxxxxxxx

[airtable]
api_key = xxxxxxxxxx
base_id = xxxxxxxxxx
table_name = xxxxxxxxxx